@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

:root {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {    
    display: grid;
    width: 80%;
    margin-left: 20%;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.first-row,
.second-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.first-row {
    justify-content: space-around;
    margin-bottom: 1rem;
    padding-left: 2rem;
    align-items: center;
}

.first-row .search {
    display: flex;
    gap: 8px;
    width: 60%;
}

.first-row .search input {
    background-color: #E5E7E9;
    border: none;
    border-radius: 20px;
    width: 100%;
    height: 2rem;
}

.first-row .search svg,
.first-row .right-side svg {
    height: 30px;
    cursor: pointer;
}

.first-row .right-side {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 50px;
}

.first-row .right-side img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #3ab795;
}

.first-row .right-side p {
    font-size: 20px;
    font-weight: bold;
}

.second-row nav button {
    background-color: #3AB795;
    border: none;
    border-radius: 20px;
    padding: 10px 30px 10px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}

.second-row .account {
    display: flex;
    padding-right: 14rem;
}

.second-row .account img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #3ab795;
}

.second-row .account .name {
    margin-left: 10px;
}

.second-row .account .name p {
    font-weight: bold;
    margin-top: 10px;
}

.second-row .account .name p:nth-child(2) {
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
}

.sidebar {
    top: 0;
    position: fixed;
    background-color: #3ab795;
    width: 20%;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.title svg{
    height: 50px;
}

.links {
    width: 270px;
    display: grid;
    grid-template-columns: repeat(2, 60px);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.links svg {
    height: 30px;
    padding-left: 30px;
    cursor: pointer;
}

.links a {
    height: 30px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.other {
    margin-top: 50px;
}

h3 {
    margin-left: 18rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 80%;
    margin-left: 20%;
}

.projects {
    grid-column: 1;
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    gap: 25px;
}

.projects .project {
    padding: 30px;
    border-radius: 10px;
    background-color: #FFCF56;
    display: grid;
    grid-template-columns: 1fr;
}

.projects .project p:nth-child(1) {
    font-size: 18px;
    font-weight: bold;
}

.projects .project p:nth-child(2) {
    color: #273746;
}

.projects .project .icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 15px;
}

.projects .project .icons svg {
    margin-top: 15px;
    height: 25px;
    cursor: pointer;
}

main .right-side {
    grid-column: 2;
    width: 20%;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 15px;
}

main .right-side .announce {
    padding: 20px;
    border-radius: 10px;
    background-color: #FFCF56;
    display: grid;
    grid-template-columns: 1fr;
    margin-left: 15px;
}