@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

:root {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

header {    
    display: grid;
    margin-left: 17rem;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    margin-top: 15px;
}

.first-row,
.second-row {
    display: flex;
}

.first-row svg {
    height: 25px;
}

.first-row img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: #3ab795;
}

.sidebar {
    top: 0;
    position: absolute;
    background-color: #3ab795;
    width: 17rem;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.title svg{
    height: 50px;
}

.links {
    width: 270px;
    display: grid;
    grid-template-columns: repeat(2, 60px);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.links svg {
    height: 30px;
    padding-left: 30px;
    cursor: pointer;
}

.links a {
    height: 30px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.other {
    margin-top: 50px;
}